absl-py==0.11.0
addict==2.4.0
altgraph==0.17
aniso8601==8.1.1
anyio==3.0.1
anykeystore==0.2
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.4.1
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
audioread==2.1.9
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.6.0
bleach==3.3.0
blinker==1.4
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.0
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cmake==3.20.2
colorama==0.4.4
comtypes==1.1.8
cryptography==3.3.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
Django==3.2.5
django-cors-headers==3.7.0
djangorestframework==3.12.4
djangorestframework-jwt==1.11.0
dlib==19.22.0
dnspython==2.1.0
efficientnet==1.0.0
email-validator==1.1.2
entrypoints==0.3
essential-generators==1.0
ffmpeg-python==0.2.0
finance-datareader==0.9.31
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-PyMongo==2.3.0
flask-restplus==0.13.0
flask-restx==0.2.0
Flask-WTF==0.14.3
flatbuffers==1.12
fonttools==4.23.1
future==0.18.2
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
greenlet==1.1.0
grpcio==1.32.0
h11==0.12.0
h2==4.0.0
h5py==2.10.0
hpack==4.0.0
hupper==1.10.3
hyperframe==6.0.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.4
imgaug==0.4.0
inflect==5.3.0
ipykernel==5.5.4
ipython==7.23.1
ipython-genutils==0.2.0
iso8601==0.1.14
isort==5.7.0
itsdangerous==1.1.0
jamo==0.4.1
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.0
JPype1 @ file:///C:/Users/rainbow/Downloads/JPype1-1.2.0-cp38-cp38-win_amd64.whl
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.7.0
jupyterlab==3.0.15
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.1
kaitaistruct==0.9
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
konlpy==0.5.2
lazy-object-proxy==1.4.3
ldap3==2.8.1
librosa==0.8.1
llvmlite==0.36.0
lmdb==1.0.0
lxml==4.6.3
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.4.0
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
mitmproxy==6.0.2
mmcv==1.3.5
moviepy==1.0.3
msal==1.10.0
msgpack==1.0.2
msvc-runtime==14.29.30036
munch==2.5.0
natsort==7.1.0
nbclassic==0.2.8
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkscan==1.0.9
networkx==2.5.1
nltk==3.5
notebook==6.3.0
ntlm-auth==1.5.0
numba==0.53.1
numpy==1.19.5
oauthlib==3.1.0
Office365-REST-Python-Client==2.3.2
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pafy==0.5.5
pandas==1.2.0
pandas-datareader==0.9.0
pandocfilters==1.4.3
parso==0.8.2
passlib==1.7.4
PasteDeploy==2.1.1
pbkdf2==1.3
peewee==3.14.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.1.0
plaster==1.0
plaster-pastedeploy==0.7
pooch==1.3.0
proglog==0.1.9
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.14.0
proxy==0.0.1
psutil==5.8.0
publicsuffix2==2.20191221
py-hanspell==1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.2.1
pycparser==2.20
pydivert==2.1.0
Pygments==2.9.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyJWT==1.7.1
pykospacing @ git+https://github.com/haven-jeon/PyKoSpacing.git@1a36be492cc396559e7dce7825843af020ea231f
pylint==2.6.0
pymongo==3.11.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pyramid==2.0
pyramid-mailer==0.15.1
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2020.5
PyWavelets==1.1.1
pywin32==300
pywin32-ctypes==0.2.0
pywinauto==0.6.8
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==22.0.3
regex==2020.11.13
repoze.sendmail==4.4.1
requests==2.25.1
requests-file==1.5.1
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.6
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scapy==2.4.4
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.6.0
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.7.1
six==1.15.0
sklearn==0.0
sniffio==1.2.0
sortedcontainers==2.3.0
sounddevice==0.4.1
SoundFile==0.10.3.post1
soupsieve==2.1
SQLAlchemy==1.4.17
sqlparse==0.4.1
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.5
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2021.4.8
toml==0.10.2
torch==1.8.1+cu111
torchaudio==0.8.1
torchvision==0.9.1+cu111
tornado==6.1
tqdm==4.55.1
traitlets==5.0.5
transaction==3.0.1
translationstring==1.4
tweepy==3.10.0
typing-extensions==3.7.4.3
uiautomation==2.0.10
umap==0.1.1
Unidecode==1.2.0
urllib3==1.26.2
urwid==2.1.2
validators==0.18.2
velruse==1.1.1
venusian==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.7
webrtcvad-wheels==2.0.10.post2
websocket-client==0.59.0
Werkzeug==1.0.1
WMI==1.5.1
wrapt==1.12.1
wsproto==1.0.0
WTForms==2.3.3
wtforms-recaptcha==0.3.2
xmltodict==0.12.0
yapf==0.31.0
youtube-dl==2021.6.6
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.4
zstandard==0.14.1
